.background {
  background-color: #2d2b28;
}

.header {
  background-color: #9d5a63;
  width: 100%;
  height: 40px;
}

.header-space {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
}

.logo {
  background-color: #c96567;
  width: 337px;
  height:40px;
}

.custom-navbar {
  width: 100%;
  height: 40px;
  padding: 7px;
  list-style-type: none;
}

.nav-text {
  display:inline;
  color: #FFFFFF;
 }

.nav-text a {
  text-decoration: none;
  font-size: 18px;
  font-family: "Arial";
  color: #FFFFFF;
  line-height: 1.2;
  text-align: left;
  padding: 10px;
}

.nav-text a:visited {
  color: #FFFFFF;
}

#main-button {
  height: 30px;
  background-color: #232827;
  color: #000000;
}

.uploader-comment-cont {
	padding:20px;
  height: 47px;
}

.uploader-text {
  font-size: 14px;
  font-family: "Arial";
  color: #9d5a63;
  line-height: 1.2;
  text-align: left;
}

.arrow {
  padding-top: 250px;
}

.image-container {
  background-color: #232827;
  margin-top: 20px;
  height: 552px;
  box-shadow: 0 0 44.1px 31.9px rgba(79, 90, 94, 0.35);
}

.image-container-tools {
  background-color: #9d5a63;
  height: 25px;
}

.image-menu-bg {
  background-color: #644e5b;
}

.image-container-project {
  margin-top: 4px;
  background-color: #9d5a63;
  height: 25px;
}

.image-content {
  max-width: 100%;
  max-height: 100%;
  alignment: center;
  padding: 10px;
}

.stars {
  margin-top: 20px;
  height: 50px;
  background-color: #9d5a63;
}

.viewer-comments {
	margin-top: 20px;
	height: 100px;
	border: 2px solid #9d5a63;
}

.rules-background {
  background-color: #9d5a63;
  height: 217px;
  margin-top: 40px;
  width: 100%;
}

.footer-background {
  background-color: #644e5b;
  height: 72px;
  width: 100%;
}




