$font-stack:    Helvetica, sans-serif; //roboto and nunito

$dark-gray: #6B6B6B;
$gray: #BBBBBB;
$light-gray: #F2F2F2;

$blue: #03a9f5;
// $light-blue: ;

$orange: #fca625;
// $light-orange: ;

$green: #9BCB65;
// $light-green: ;
