
/*****UPLOADER COMMENT*****/

%options-style {
  height: 50px;
  @include center-text(50px);
  background-color: white;
  color: $main-font-color;
}

.option-panel {
  @extend %options-style;
  &:hover {
    border-bottom: 3px solid $main-theme-colour;
  }
  &-selected {
    border-bottom: 3px solid $main-theme-colour;
  }
}

.option-dialogue {
  @extend %options-style;
}

///////////////////////////////////////////////////

/*****IMAGE CONTAINER*****/

.carousel {
  background-color: #222629;
  margin-top: 40px;
  height: 500px;
  @include center-text(450px);
  @extend %shadow;
  overflow: hidden;
}
//
// .image-container {
//   position: relative;
// }

.image-content {
  width: 100%;
  //max-height: 300px;
}

.loading-text {
  color: white;
}

.arrow {
  opacity: 0.5;
  font-size: 50px;
  color: white;
  padding-top: 20px;  
}

.arrow-container {
  background-color: black;
}
