$primary-color: #333;

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    color: $primary-color;
    padding: 6px 12px;
    text-decoration: none;
  }
}
