
<div class="row test-border">

  <div class="col-md-6">
      <input ng-model="vm.uploadForm.title" ng-maxlength="20" ng-minlength="2"></input>
  </div>

  <div class="col-md-6">
      <!-- <select ng-model="vm.uploadForm.genre"
        ng-option="option.name for option in vm.genre.options track by option.id"> -->
      <select ng-model="vm.uploadForm.type">
          <option ng-repeat="option in vm.genre.options" ng-value="option.name">
              {{option.name}}
          </option>
      </select>

  </div>

</div>

<div class="row test-border">

  <div class="col-md-12">
    <textarea ng-model="vm.uploadForm.uploaderComment.goalComment">
    </textarea>
  </div>

</div>

<div class="row test-border">

  <div class="col-md-12">
    <textarea ng-model="vm.uploadForm.uploaderComment.needComment">
    </textarea>
  </div>

</div>

<div class="row test-border">

  <div class="col-md-12">
    <textarea ng-model="vm.uploadForm.uploaderComment.otherComment">
    </textarea>
  </div>

</div>

<div class="row test-border">

  <!-- <img-upload image="vm.image"></img-upload> -->

  <!-- <button type="submit" ng-click="submit()">Submit</button> -->

  <div class="col-md-12">

    <div class="col-md-6">

      <input type="file" ngf-select="" ng-model="vm.picFile"
      name="file" ngf-accept="'image/*'" required="">

      <button type="submit" ng-click="vm.uploadImage(vm.uploadForm, vm.picFile)">Submit</button>

      {{vm.picFile}}
      <!-- {{vm.uploadForm}} -->

    </div>

    <div class="col-md-6">
        <img ngf-thumbnail="vm.picFile || '/thumb.jpg'">
    </div>

  </div>

</div>
