<div class="col-md-offset-2 col-md-8 image-viewer-container">

  <div class="row" id="image-options">

    <div class="col-md-4" id="options-selection"> <!--TURN THIS INTO A UI BOOTSTRAP CAROSEL-->
      <div class="row">
        <div id="goal-panel" class="col-md-4 options-panel" ng-click="changeUploaderTextTo(uploaderComment.goalComment)">
        </div>
        <div id="feedback-panel" class="col-md-4 options-panel" ng-click="changeUploaderTextTo(uploaderComment.needComment)" >
        </div>
        <div id="misc-panel" class="col-md-4 options-panel" ng-click="changeUploaderTextTo(uploaderComment.otherComment)">
        </div>
      </div>
    </div>

    <div class="col-md-8" id="uploader-text"> <!--TURN THIS INTO A UI BOOTSTRAP CAROSEL-->
      {{uploaderText}}
    </div>

  </div>



  <div class="row">

    <div class="image-continer">

      <img ng-show="contentTitle" ng-src="https://s3.amazonaws.com/anneandycdn/{{contentTitle}}" class="absolute-center animated fadeIn img-responsive center-block image-content">

      <div ng-show="!contentTitle" class="loading-text">No images to display...</div>

      <span class="col-md-offset-2 col-md-8" id="no-image" ng-bind="image.empty">
      </span>

    </div>

  </div>

</div>



<!-- <span class="animated fadeIn">{{image.currentImage}}</span> -->
