
<!-- <button ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
    ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
    ngf-resize="{width: 100, height: 100}">Select</button>

  <button type="submit" ng-click="submit()">submit</button> -->
<!--   {{getImage()}} -->


<!--  <div class="preview">
    <div>Preview image/audio/video:</div>
    <img ngf-src="!files[0].$error && files[0]">
 </div> -->

<!-- {{vm.image}}
{{files}}

	<img ngf-thumbnail="files" class="thumb">
	          <i ng-show="myForm.file.$error.required"> -->
