
/*****UPLOADER COMMENT*****/

.uploader-comment-cont {
  margin-top:40px;
  height: 500px;
}

.uploader-text {
  font-size: 14px;
  font-family: "Arial";
  color: #6B6E70;
  line-height: 1.2;
  text-align: left;
}

.uploader-request {
  font-size: 14px;
  font-family: "Arial";
  color: #6B6E70;
  line-height: 1.2;
  text-align: left;
}

.arrow {
  font-size: 100px;
  color: #61892F;
  padding-top: 250px;
}

/*****IMAGE CONTAINER*****/

.image-viewer-container {
  background-color: #222629;
  margin-top: 40px;
  height: 500px;
  box-shadow: 0 0 20px 5px rgba(79, 90, 94, 0.35);
  overflow: hidden;
}

.image-container {
  position: relative;
}


#no-image {
  font-size: 18px;
  text-align:center;
  margin-top: 210px;
  top: -50px;
  color: #6B6E70;
}

#image-options {
  height: 50px;
  background-color: #474B4F;
  color: white;
}

#options-selection {
  height: 100%;
}

.options-panel {
  height: 50px;
  border: 1px solid #6B6E70;
}

#goal-panel {
  background-color: green;
}

#feedback-panel {
  background-color: blue;
}

#misc-panel {
  background-color: orange;
}

#uploader-text {
  height: 100%;
  background-color: #6B6E70;
}

.image-settings {
  max-height: 520px;
  background-color: #474B4F;
}

.image-container-project {
  margin-top: 1px;
  background-color: #6B6E70;
  height: 25px;
}

.image-content {
  max-width: 750px;
  max-height: 480px;
  padding-top: 10px;
}

.loading-anim {
  position: absolute;
  color: white;
}

.loading-text {
  color: white;
}

/*****RATING*****/

.rating-star {

  margin-top: 20px;
	padding: 10px;
	font-size: 40px;
  color: #61892F;
}

/*****USER COMMENT*****/

#current-comment-cont {
  margin-top: 20px;
  margin-bottom: 60px;
  border: 2px solid #86C232;
}

user-comments-cont {

}

#current-comment {
  margin-top: 5px;
  color: #86C232;
  width:100%;
  height: 75px;
  max-width: 100%;
  min-width: 100%;
  max-height: 300px;
  min-height: 75px;
  background: transparent;
  border: none;
}

#user-comments {
/*  padding: 10px;*/
  border: 2px solid #86C232;
/*  font-size: 14px;
  height: 100px;*/
/*  background-color: blue; */
}

.user-comments-arrows {
  height: 80px;
  border: 2px solid #86C232;
/*  background-color: green;*/
}

.user-comments-downarrow {
  height: 50%;
  border: 2px solid #86C232;
}

.user-comments-uparrow {
  height: 50%;
  border: 2px solid #86C232;
}

.user-comment {
  border: 2px solid #86C232;
/*  margin: 20px;*/
}

