#user-header {
	margin-top: 20px;
	height: 150px;
	border: 1px solid black;
}

.user-header-stats {
	height: 100%;
}

.user-header-upload {
	margin-top: 15px;
	height: 80%;
	border: 1px solid black;
}
.drop-box {
	height: 100px;
	width: 100px;
	border: 1px solid black;
}
.uploaded-result {
	height: 100px;
	overflow: hidden;
	border: 1px solid black;
}
.uploaded-result-image {
	width: 50%;
	float: left;
	border: 1px solid black;
}
.uploaded-result-title {
	height: 100%;
	width: 50%;
	background-color: white;
	float: right;
	text-align: center;
	vertical-align: middle;
	line-height: 150px;
}